<br>
<nav id="mainNav" class="align-items-center text-center">

<h6><strong>GET API BY ID:</strong></h6>
<a href="/api?id=1"><button type="button" class="btn btn-elegant btn-sm">Limbo</button></a>

<a href="/api?id=2"><button type="button" class="btn btn-elegant btn-sm">Lust</button></a>

<a href="/api?id=3"><button type="button" class="btn btn-elegant btn-sm">Gluttony</button></a>

<a href="/api?id=4"><button type="button" class="btn btn-elegant btn-sm">Greed</button></a>

<a href="/api?id=5"><button type="button" class="btn btn-elegant btn-sm">Anger</button></a>

<a href="/api?id=6"><button type="button" class="btn btn-elegant btn-sm">Heresy</button></a>

<a href="/api?id=7"><button type="button" class="btn btn-elegant btn-sm">Violence</button></a>

<a href="/api?id=8"><button type="button" class="btn btn-elegant btn-sm">Fraud</button></a>

<a href="/api?id=9"><button type="button" class="btn btn-elegant btn-sm">Treachery</button></a>

</nav><br>
